.o_report_layout_custom {

    strong {
        color: $o-company-secondary-color;
    }
    .table {
        border-top: 1px solid gray('300');
    }

    .table td, .table th {
        border-top: none;
        &:first-child {
                border-right: none !important;
            }
        border-right: 2px solid black !important;
    }

    .table tr {
        border-top: 2px solid black !important;
        border-bottom: 2px solid black !important;
    }
    h2 {
        color: $o-company-primary-color;
    }
    thead tr th {
        color: $o-company-secondary-color
    }
    tbody {
        color: gray('700');
        tr {
            &:nth-child(odd) {
                background-color: rgba(220, 205, 216, 0.2);
            }
            &.o_line_section {
                color: $o-brand-odoo;
                background-color: rgba(73, 80, 87, 0.2) !important;
            }
        }
    }
    /*Total table*/
    /* row div rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:nth-child(odd) {
                background-color: transparent !important;
            }
            /* first-child & last-child rule compat 12.0 */
            &:first-child,
            &:last-child,
            &.o_subtotal,
            &.o_total {
                border-top: none !important;
                td {
                    border-top: 1px solid gray('400') !important;
                }
                strong {
                    color: $o-company-primary-color;
                }
            }
        }
    }
}